

div.card-header {
  background-color: #d85865ab !important;
}
div.card-header.error-404 {
  background-color: #0a0906b8 !important
}
div.card-header.error-410 {
  background-color: #7c429ad6 !important;
}
div.card-header.error-500 {
  background-color: #ff0000c5 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #110e367a!important;
}

[class*=sidebar-light-] {
  /* background-color: #ffc107!important; */
  background-image: url('./../assets/img/background.jpg');
  background-size: cover;
  /* background-blend-mode: color-burn; */
}

.cangc {
	font-size: 1.3em!important;
	font-weight: 100;
	color: #227cbe!important;
	font-family: Impact
}
.cangc2 {
	font-size: 1.1em!important;
	font-weight: 100;
	color: #227cbe;
	font-family: Impact
}

sup {
  color: #227cbe;
  font-size: .65em;
  font-weight: 900;
  top: 0!important;
  position: relative;
}

.edit-metatag, .delete-metatag {
  cursor: pointer;
}
.edit-metatag>.input-group-text:hover {
  background-color: #227cbe;
  color: aliceblue;
}
.delete-metatag>.input-group-text:hover {
  background-color: #d43c21d0;
  color: aliceblue;
}
#locale {
  color: black;
}
.custom-file-label {
  display: none;
}
input {
  outline: none;
}